{{ define "main" }}
<article id="article-single">
    <h1 class="article-title">{{ .Title }}</h1>
    
    <div class="article-tip">
        <span>{{ .Date.Format "Jan 2, 2006" }}</span>
        <span class="split">·</span>
        <span>{{ .WordCount }} words</span>
        <span class="split">·</span>
        <span>{{ .ReadingTime }} min read</span>
    </div>

    {{ if or .Site.Params.showToc .Params.showToc }}
    <nav class="article-toc">
        <h2 class="article-toc-title">Table of Contents</h2>
        {{ .TableOfContents }}
    </nav>
    {{ end }}

    <div class="article-content">
        {{ .Content }}
    </div>

    {{ with .Params.tags }}
    <div class="article-tags">
        {{ range . }}
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}

    <div class="article-author">
      <h3 class="article-author-header">About the Author</h3>
      {{ partial "profile.html" (dict "page" $ "mainContent" false) }}
    </div>

    {{ if .Site.Params.showComments }}
        {{ partial "comments.html" . }}
    {{ end }}
</article>
{{ end }}

