{{ $dir := .Site.Params.homeTabsDir | default "homeTabs" }}
{{ $tabItems := slice }}

{{ range (readDir (printf "content/%s" $dir)) }}
    {{ with $.Site.GetPage (printf "%s/%s" $dir .Name) }}
        {{ $tabItems = $tabItems | append (dict "title" .Title "subtitle" .Params.subtitle "content" .Summary "date" .Date "image" .Params.image) }}
    {{ end }}
{{ end }}

{{ $sortedItems := sort $tabItems "date" "desc" }}

<section id="vertical-tabs" class="vertical-tabs-section">
  <div class="container">
      <h2>{{ with .Site.Params.tabsHeading }}{{ . }}{{ else }}{{ i18n "tabsHeading" }}{{ end }}</h2>
      <div class="vertical-tabs">
          <div class="tabs">
            {{ range $index, $item := $sortedItems }}
                <a href="#tab{{ $index }}" class="tab" id="tab-{{ $index }}">
                    <img src="{{ $item.image | absURL }}" alt="{{ $item.title }} logo">        
                </a>
            {{ end }}
          </div>
          <div class="tab-content">
            {{ range $index, $item := $sortedItems }}
                <div id="tab{{ $index }}" class="tab-description">
                    <h3>{{ $item.title }}</h3>
                    <h4>{{ $item.subtitle }}</h4>
                    <p>{{ $item.content }}</p>
                </div>
            {{ end }}
          </div>
      </div>
  </div>
</section>